 <div class="header-search open-search">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                            <div class="navbar-search">
                                <form class="search-global">
                                    <input class="search-global__input" type="text" placeholder="Type to search" autocomplete="off" name="s" value="" />
                                    <button class="search-global__btn"><i class="icon stroke icon-Search"></i>
                                    </button>
                                    <div class="search-global__note">Begin typing your search above and press return to search.</div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="search-close close" type="button"><i class="fa fa-times"></i>
                </button>
            </div>
        
            <header class="header header-boxed-width navbar-fixed-top header-color-black header-topbar-dark header-logo-black header-topbarbox-1-left header-topbarbox-2-right header-navibox-1-left header-navibox-2-right header-navibox-3-right header-navibox-4-right">
                <div class="container container-boxed-width">
                
                    <nav class="navbar" id="nav">
                        <div class="container">
                            <div class="header-navibox-1">
                                <!-- Mobile Trigger Start-->
                                <button class="menu-mobile-button visible-xs-block js-toggle-mobile-slidebar toggle-menu-button"><i class="toggle-menu-button-icon"><span></span><span></span><span></span><span></span><span></span><span></span></i>
                                </button>
                                <!-- Mobile Trigger End-->
                                <a class="navbar-brand scroll" href="index.html">
                                    <img class="normal-logo img-responsive" src="assets/frappe/assets/media/general/logo.png" alt="logo" />
                                    <img class="scroll-logo hidden-xs img-responsive" src="assets/frappe/assets/media/general/logo-dark.png" alt="logo" />
                                </a>
                            </div>
                            <div class="header-navibox-3">
                                <ul class="nav navbar-nav hidden-xs clearfix vcenter">

                               
                                    <li><a class="btn_header_search" href="#"><i class="icon fa fa-search"></i></a>
                                    </li>
                                    <li><a class="btn_header_search1" href="#"><i class="icon fa fa-map-marker"></i></a>
                                    </li>
                           
                                </ul><!-- <a class="btn btn-primary" href="home.html">sell car</a> -->
                            </div>
                            <div class="header-navibox-2">
                                <ul class="yamm main-menu nav navbar-nav">
                                    <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">New Cars<b class="caret"></b></a>
                                   <!--      <ul class="dropdown-menu" role="menu">
                                            <li><a href="home.html" tabindex="-1">Home one page</a>
                                            </li>
                                            <li><a href="home-2.html" tabindex="-1">Home standart</a>
                                            </li>
                                        </ul> -->
                                    </li>
                                    <li><a href="#">New Bikes<b class="caret"></b></a>
                                    </li>
                                    <li><a href="#">Refrigerator<b class="caret"></b></a>
                                    </li>
                                    <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Others<b class="caret"></b></a>
                                   
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </header>